
body,html {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

/* Header Styles */
h1,h2,h3,h4 {
    cursor: default;
    text-align: center;
}

/* Paragraph Styles */
p {
    font-size: 20px;
    margin: 40px;
}


/* Body Content Container */
.bodycontent {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff00;
    color: white;
    align-items: center;
}

/* Topic Styles */
.topic {
    padding-top: 6%;
    margin-bottom: 0;
    font-size: 90px;
    color: rgba(255, 255, 255, 0.6);
}

/* Subtopic Styles */
.subtopic {
    font-size: 25px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0;
    margin: 0 200px;
}

/* Image Container Styles */
.image {
    background-image: url(images/2lions.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



@media only screen and (max-width: 768px) {
    .subtopic {
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 20px;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .subtopic {
        padding-left: 50px;
        padding-right: 50px;
        margin: 0 50px;
    }
}

/* Navbar Styles */
.logo {
    position: absolute;
    width: 4%;
    margin-left: 95%;
}

nav {
    padding: 10px;
    background-color: #33333378;
}

nav ul {
    background-color: #33333378;
    border-radius: 10px;
    padding: 10px 0;
    text-align: center;
    margin: 5px 120px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    transition: all 0.3s ease;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #fff;
    color: #333;
}

/* Submenu Styles */
nav ul li .submenu {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    z-index: 1;
    border-radius: 6px;
    margin-top: 8px;
}

nav ul li:hover .submenu {
    display: block;
}

nav ul li .submenu a {
    display: block;
    padding: 8px 15px;
    color: #fff;
    transition: all 0.3s ease;
}

nav ul li .submenu a:hover {
    background-color: #fff;
    color: #333;
}




@media only screen and (max-width: 768px) {
    .nav-1s .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        background-color: #333;
        z-index: 1;
        }
            
        .nav-1s .nav-links.show {
        display: flex;
        }
            
        .nav-1s .nav-links li {
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #555;
        }
            
        .nav-1s .nav-links li a {
        color: rgb(195, 189, 189);
        text-decoration: none;
        }

        .logo{
            margin-left: 90%;
            width: 4%
        }
        }


        .menu-toggle {
            display: none; 
            
        }
        
     
 @media only screen and (max-width: 768px) {
    .menu-toggle {
      display: block; 
     }
        
    .nav-links {
     display: none; 
     }
        
    .nav-links.active {
     display: flex; 
     flex-direction: column;
     background-color: #010101;
     position: absolute;
     top: 60px; 
     left: 0;
     width: 100%;
     z-index: 1;
    }
        
    .nav-links li {
     padding: 10px;
     text-align: center;
     border-bottom: 1px solid #000000;
     }
     }
            
       
        



    /* Footer */
    .site-footer {
    background-color: black;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    text-align: center; 
    }
    
    .site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
    }
    
    .site-footer hr.small {
    margin: 20px 0;
    }
    
    .site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
    }
    
    .site-footer a {
    color: #737373;
    }
    
    .site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
    }
    
    .footer-links {
    padding-left: 0;
    list-style: none;
    text-align: center; 
    }
    
    .footer-links li {
    display: inline-block; 
    margin: 0 10px; 
    }
    
    .footer-links a {
    color: #737373;
    }
    
    

    .copyright-text {
    margin: 0;
    }
    
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
            .site-footer {
                padding: 30px 0 15px;
                font-size: 14px;
            }
    
            .site-footer .row-socials,
            .row-social-images {
                width: 20%;
                
            }
        }
    
       
        @media only screen and (min-width: 1024px) {
            .site-footer {
                padding: 45px 0 20px;
               
                font-size: 15px;
                
            }
    
            .site-footer .row-socials,
            .row-social-images {
                width: 10%;
                
            }
        }


    /*mainpage.css*/
    .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    font-weight: bold;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifs;
    }
    
    .hero-btn:hover{
    background-color: #fff;
    color: black;
    transition: 0.5s;
    }

    .sub-intro{
      background-color: black;
      padding: 40px;
      color: white;
      text-align: center;

        }


    /* main-page-images*/
    .intro-content img{
        margin-right: 20px;
        margin-left: 150px;
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 10px;
        transition: transform 1s;
    }

    .intro-content img:hover{
        
        transform: scale(1.1);
    }
    .intro-cont2{
        display: flex;
        flex-direction: row;
        margin-top: 20px auto;
        padding: 0 20px;
          
    }

    .intro-content2 img{
        margin-top: 20px;
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 10px;
        transition: transform 1s;
    }

    .intro-content2 img:hover{
        transform: scale(1.1);
    }


    .intro-content {
        margin-right: 10px;
     
    }


    #subtopic-title {
        font-size: 45px;
    }
    .paragraph{
        font-size: 150S;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
    }

    .intro-container{
    display: flex;
    flex-direction: row;
        
      
     margin-top: 20px auto;
     padding: 0 20px;

    }

    .intro-content {
        margin-right: 10px;
    }


    @media only screen and (max-width: 768px) {
        .hero-btn {
            margin: 15px;
            font-size: 12px;
  
        }

        .sub-intro {
            padding: 20px;

        }

        .intro-content img,
        .intro-content2 img {
            width: 100%;
            height: auto;
            margin-left: 0;

        }

        #subtopic-title {
            font-size: 30px;
 
        }

        .paragraph {
            font-size: 14px;

        }
    }


    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        .hero-btn {
            margin: 20px;
        }

        .intro-content,
        .intro-cont2 {
            flex-direction: column;
        }
    }


    @media only screen and (min-width: 1025px) {
    }




 /*department.css*/
   .department-pic {
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       background-image: url(./images/introback.jpeg);
       height: 100vh;
   }
    
   .blur-content {
    font-size: 250%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: #fff;
    margin-top: 5%;
   }

   .backblur{
    background-color:#333333df;
    backdrop-filter: blur(1px);
    padding: 10px;
    margin: 0 20vh;
    border-radius: 20px;
   }
    
   .location{
    text-align: center;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   }

   .location h1{
        margin-top: 0;
        padding-top: 20px;
        color: #fff;
        font-size: 40px;   
   }

  .map-container{
    padding-top: 40px;
    padding-bottom: 100px;
    margin: 0 20vh;
    max-width: 100%;
    width: 600px;
    height: 450px;
   }




   .gallery{
    background-color: black;
    text-align: center;
   }

   .gallery h1{
        margin-top: 0;
        padding-top: 20px;
        color: #fff;
        font-size: 40px;
   }

    .collection{
        background-color: black;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "galimg1 galimg2  galimg3"
                             "galimg4 galimg5 galimg6";
        grid-gap: 10px;
        width: 90%;
        margin: auto;
    }
    
   .collection img{
     width: 400px;
     height: 400px;
     object-fit: cover;
     border-radius: 10px;
     transition: transform 1s;
   }
    
    .collection img:hover {
    
    transform: scale(1.1);
    }

    #gal-img1{
        grid-area: galimg1;
    }
        #gal-img1{
        grid-area: galimg2;
    }
        #gal-img2{
        grid-area: galimg3;
    }
        #gal-img3{
        grid-area: galimg4;
    }
        #gal-img4{
        grid-area: galimg5;
    }
        #gal-img5{
        grid-area: galimg6;
    }


        @media only screen and (max-width: 768px) {
            header{
                height: 200vh;
            }
            .department-pic {
                height: 150vh;

            }
    
            .blur-content {
                font-size: 150%;

            }
    
            .backblur {
                margin: 0 1vh;

            }
    
            .map-container {
                margin: 1vh;
                width: 100%;

            }
    
            .collection img {
                width: 100%;

                height: 100%;

            }
        }
    

        /* Media Query for screen size 1024px */
        @media only screen and (min-width: 769px) and (max-width: 1024px) {
            .backblur {
                margin: 0 15vh;

            }
    
            .map-container,
            .collection {
                margin: 0 15vh;

            }
    
            .collection img {
                width: 100%;
                height: auto;

            }
        }








 /*introduction-page*/

.introduction-pic {
    background: url(./images/introbackground3.jpeg) center/cover no-repeat;
    height: 100vh;
}

#sub,
#p {
    font-size: 24px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: #fff;
    margin-top: 8%;
}

.parks {
    text-align: center;
    background-color: black;
    font-size: 32px; 
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
    padding-top: 20px;
}

.aboutpark {
    font-size: 24px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: #fff;
    margin-top: 1%;
}

.gallery2 {
    background-color: black;
    text-align: center;
}

.collection2 img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s ease; 
    padding: 14px;
}

.collection2 img:hover {
    transform: scale(1.1);
}


@media only screen and (max-width: 768px) {
    .introduction-pic {
        height: 200vh;
    }

    #sub {
        font-size: 20px;
        margin-top: 5%;
    }

    #p {
        font-size: 16px;
        margin-top: 5%;
    }

    .parks {
        font-size: 24px;
        margin-top: 3%;
    }

    .aboutpark {
        font-size: 16px;
        margin-top: 2%;
    }

    .collection2 img {
        width: 90%;
        height: auto;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #sub {
        font-size: 24px;
        margin-top: 6%;
    }

    #p {
        font-size: 18px;
        margin-top: 6%;
    }

    .parks {
        font-size: 28px;
        margin-top: 4%;
    }

    .aboutpark {
        font-size: 18px;
        margin-top: 2%;
    }

    .collection2 img:hover {
        transform: scale(1.05);
    }
}

.map-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%; 
    height: 0;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media (max-width: 767px) {
    .map-container {
        padding-bottom: 75%; 
    }
}










  /*leopard page*/
.leopard-pic {
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 background-image: url(./images/leopardback3.webp);
 height: 100vh;
                  }
        
.gallery p {
 margin-top: 0;
 padding-top: 20px;
 color: #fff;
 font-size: 20px;
 }
        
  .gallery h2 {
  margin-top: 0;
  padding-top: 20px;
  color: #fff;
  font-size: 40px;
  }
        
                  
 @media only screen and (max-width: 1024px) {
 .leopard-pic {
  height: 150vh;
                         
 }
        
 .gallery p {
  font-size: 18px;
                          
 }
        
 .gallery h2 {
  font-size: 32px;
                       
  }
 }
        
 
  @media only screen and (max-width: 768px) {
 .leopard-pic {
  height: 150vh;
                          
   }
        
  .gallery p {
  font-size: 16px;
                           
  }
        
  .gallery h2 {
  font-size: 28px;
                         
  }                   
  }
                 






    /*animals page*/
 .animals-pic {
     background: url(./images/animlsbackground.avif) center/cover no-repeat;
     height: 100vh;
 }

 .pic {
     background-color: black;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 80vh;
 }

 .pic-1 {
     display: grid;
     row-gap: 3.5rem;
     display: flex;
     flex-direction: row;
     width: 100%;
 }

 .card {
     width: 400px;
     height: 500px;
     border-radius: 20px;
     overflow: hidden;
     position: relative;
     margin: 10px 0 10px 40px;
     transition: 2s ease-in-out;
 }

 .card:hover {
     transform: translateY(20px);
     filter: grayscale(80%);
 }

 .card::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     display: block;
     width: 100%;
     height: 100%;
     background: transparent;
     backdrop-filter: blur(20px);
     z-index: 2;
     transition: 2s all;
     opacity: 0;
 }

 .card.hover::before {
     opacity: 1;
 }

 .card img {
     margin-top: 50px;
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 15px;
     position: absolute;
     top: 0;
     left: 0;
 }



 @media (max-width: 767px) {
    .pic {
        height: auto;
    }

    .pic-1 {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 70%;
        max-width: 250px; 
        margin: 10px auto;
    }
}

@media (min-width: 768px) {
    .pic {
        height: 80vh;
    }

    .pic-1 {
        flex-direction: row;
        justify-content: center;
    }

    .card {
        width: 400px;
        margin: 10px 0 10px 40px;
    }
}



 .card.card-body {
     position: relative;
     z-index: 3;
     color: #fff;
     opacity: 1;
     transform: translate(30px);
     transition: 2s all;
 }

 .card-body {
     width: 100%;
     height: 100%;
     top: 100%;
     right: 0;
     position: absolute;
     color: #fff;
     padding: 30px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     transition: 2s all;
 }

 .card:hover .card-body {
     top: 0;
 }

 .card-title {
     text-transform: uppercase;
     font-size: 25px;
     font-weight: bold;
     margin: 10px 0 0 50px;
     letter-spacing: 2px;
 }

 .card-sub-title {
     text-transform: capitalize;
     font-size: 16px;
     font-weight: 400;
     line-height: 25px;
     margin: 40px 0 0 50px;
 }


@media (max-width: 767px) {
    .card-body {
        width: 100%;
        height: auto;
        top: 0;
        right: 0;
        padding: 15px;
        margin: 0;
    }

    .card-title {
        font-size: 20px;
        margin: 10px 0 0 20px;
    }

    .card-sub-title {
        font-size: 14px;
        margin: 20px 0 0 20px;
    }
}


@media (min-width: 768px) {
    .card-body {
        padding: 30px;
        margin: 0;
    }

    .card-title {
        font-size: 25px;
        margin: 10px 0 0 50px;
    }

    .card-sub-title {
        font-size: 16px;
        margin: 40px 0 0 50px;
    }
}
