body,
html {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

h1,h2,h3,h4 {
    cursor: default;
    text-align: center;
}

p {
    font-size: 20px;
    margin: 40px;
}


.logo {
    position: absolute;
    width: 4%;
}


.yalatopic h1 {
    font-size: 100px;
    color: white;
    font-weight: 600;
    transition: 0.5s;
}

.yalatopic h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    
}




.topic {
    padding-top: 6%;
    margin-bottom: 0;
    font-size: 90px;
    color: rgba(255, 255, 255, 0.6);
}

.subtopic {
    font-size: 25px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0;
    margin: 0 200px;

}

.yala-pic {

    background-image: url(images/yalabackpic.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


.backblur {
    background-color: #333333df;
    backdrop-filter: blur(1px);
    padding: 10px;
    margin: 0 20vh;
    border-radius: 20px;
}

.yalaimg{
    background-color: black;
    height: 100vh;
    color: #fff;
    margin-top: -43px;
}

.yalaimg h1 {
    padding: 30px;
    font-size: 50px;
}

.yala-para{
    background-color: rgba(55, 53, 53, 0.889);
    backdrop-filter: blur(10px);
    border-radius: 15px;
}

.image-sec{
    display: flex;
    flex-direction: row;
}

.yalaimg img{
    height: 400px;
    width: 400px;
    margin: 0 10vh;
}


/* Media query for screens with a width of 768px */
@media (max-width: 768px) {
    .logo {
        width: 8%;
    }

    .topic {
        font-size: 60px;
    }

    .subtopic {
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
    }

    .yalaimg {
        margin-top: -20px;
    }

    .yalaimg h1 {
        font-size: 40px;
    }

    .yalaimg img {
        height: 300px;
        width: 300px;
        margin: 0 5vh;
    }
}

/* Media query for screens with a width of 768px */
@media (max-width: 768px) {
    .logo {
        width: 8%;
    }

    .topic {
        font-size: 60px;
    }

    .subtopic {
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
    }

    .yalaimg {
        margin-top: -20px;
    }

    .yalaimg h1 {
        font-size: 40px;
    }

    .yalaimg img {
        height: 300px;
        width: 300px;
        margin: 0 5vh;
    }
}

/* Media query for screens with a width between 769px and 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
    .backblur {
        margin: 0 50vh;
    }

    .yalaimg img {
        height: 350px;
        width: 350px;
        margin: 0 5vh;
    }
}





/* Navbar Stylings */
nav {
    padding: 10px;
    background-color: #33333378;
}

nav ul {
    background-color: #33333378;
    border-radius: 10px;
    padding: 10px 0;
    text-align: center;
    margin: 5px 120px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    transition: all 0.3s ease;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #fff;
    color: #333;
}


/* Submenu Styles */
nav ul li .submenu {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    z-index: 1;
    border-radius: 6px;
    margin-top: 8px;
}

nav ul li:hover .submenu {
    display: block;
}

nav ul li .submenu a {
    display: block;
    padding: 8px 15px;
    color: #fff;
    transition: all 0.3s ease;
}

nav ul li .submenu a:hover {
    background-color: #333;
    color: #fff;
}


/* Footer */

/* General Styling */
.body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-section {
    margin-bottom: 20px;
}

.quick-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.contact-form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 30px;
    height: 30px;
}




/*yala animals gallery*/

  .yala_gallery {
      background-color: black;
      text-align: center;
  }

  .yala_gallery h1 {
      margin-top: 0;
      padding-top: 20px;
      color: #fff;
      font-size: 40px;
  }

  .yala_collection {
      background-color: black;
      align-items: center;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "galimg1 galimg2  galimg3"
          "galimg4 galimg5 galimg6";
      grid-gap: 10px;
      width: 90%;
      margin: auto;
  }

  .yala_collection img {
      /*margin-right: 20px;*/
      /*margin-left: 150px;*/
      width: 350px;
      height: 350px;
      object-fit: cover;
      border-radius: 20px;
      transition: transform 1s;
  }

  .yala_collection img:hover {

      transform: scale(1.1);
  }

  #gal-img1 {
      grid-area: galimg1;
  }

  #gal-img1 {
      grid-area: galimg2;
  }

  #gal-img2 {
      grid-area: galimg3;
  }

  #gal-img3 {
      grid-area: galimg4;
  }

  #gal-img4 {
      grid-area: galimg5;
  }

  #gal-img5 {
      grid-area: galimg6;
  }

  /* Media query for screens with a width of 768px */
  @media (max-width: 768px) {
      .yala_collection {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-areas: "galimg1 galimg2" "galimg3 galimg4" "galimg5 galimg6";
      }

      .yala_collection img {
          width: 100%;
          height: auto;
      }
  }

  /* Media query for screens with a width of 1024px */
  @media (min-width: 769px) and (max-width: 1024px) {
      .yala_collection {
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          grid-template-areas: "galimg1 galimg2 galimg3" "galimg4 galimg5 galimg6";
      }
  }






 /* Footer */

 /* General Styling */
 .site-footer {
     background-color: black;
     padding: 45px 0 20px;
     font-size: 15px;
     line-height: 24px;
     color: #737373;
     text-align: center;
     /* Center-aligning text */
 }

 .site-footer hr {
     border-top-color: #bbb;
     opacity: 0.5;
 }

 .site-footer hr.small {
     margin: 20px 0;
 }

 .site-footer h6 {
     color: #fff;
     font-size: 16px;
     text-transform: uppercase;
     margin-top: 5px;
     letter-spacing: 2px;
 }

 .site-footer a {
     color: #737373;
 }

 .site-footer a:hover {
     color: #3366cc;
     text-decoration: none;
 }

 .footer-links {
     padding-left: 0;
     list-style: none;
     text-align: center;
     /* Center-aligning text */
 }

 .footer-links li {
     display: inline-block;
     /* Display links in a line */
     margin: 0 10px;
     /* Adjust the space between links */
 }

 .footer-links a {
     color: #737373;
 }

 .footer-links a:active,
 .footer-links a:focus,
 .footer-links a:hover {
     color: #3366cc;
     text-decoration: none;
 }


 .copyright-text {
     margin: 0;
 }